# IDE
.idea/
*.iml

# Build output
backend/target/
neo_bank-main/build/
neo_bank-main/dist/

# Dependencies
backend/apache-maven-3.9.6/
neo_bank-main/node_modules/

# Environment variables
.env
.env.local

# Uploads
neo_bank-main/uploads/

# OS
.DS_Store
Thumbs.db
